<button type="button" class="btn btn-lesson" (click)="open()"> Details</button>
<p> login works</p>
<mat-form-field>
    <input matInput placeholder="MM/DD/YYYY" [min]="minDate" [max]="maxDate"
        [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle matSuffix [for]="myDatePicker">
    </mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field>